<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cols</title>
    <link rel="stylesheet" href="style/bootstrap.min.css">
</head>
<body>
    <h2>12 columns</h2>
    <h3>5 concepts for responsive bootstrap </h3>
    <ol>
        <li>Container</li>
        <li>Row</li>
        <li>Cals</li>
        <li>Breakpoints</li>
        <li>12 columns with breakpoint</li>
    </0l>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere doloremque sunt voluptatem inventore, voluptatum porro atque ipsum accusamus cumque laboriosam! Iste officiis recusandae, blanditiis facilis enim, nulla dolorem dolorum rem maxime voluptate molestiae nam vero facere, minima doloribus error consequatur minus cupiditate? Accusantium dolorum ipsum error nulla reprehenderit natus ipsam incidunt, aspernatur eligendi dolorem exercitationem? Qui sunt fugit fuga!

    </div> 
    <div class="container">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore voluptates cumque voluptatem quibusdam perferendis. Deleniti, quibusdam modi iure doloremque consequatur obcaecati consectetur. Minus omnis odio, quis amet incidunt perferendis dolor voluptatem rem sunt saepe laudantium consequuntur ipsum accusamus quos dolore nulla quibusdam corrupti dolorem non dolores porro alias? Provident, ut?

    </div>
    <div class="container-fluid">
        <h3>Responsive Cols</h3>
        <div class="row">
            <div class="col-7">
                <h2>Column-1</h2>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui eaque corporis quos labore repellat error, illo recusandae. Sint accusamus cumque error mollitia, id deleniti, dolores, maiores temporibus iusto inventore eum?
            </div>
            <div class="col">
                <h2>Column-1</h2>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui eaque corporis quos labore repellat error, illo recusandae. Sint accusamus cumque error mollitia, id deleniti, dolores, maiores temporibus iusto inventore eum?
            </div>
            <div class="col">
                <h2>Column-1</h2>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui eaque corporis quos labore repellat error, illo recusandae. Sint accusamus cumque error mollitia, id deleniti, dolores, maiores temporibus iusto inventore eum?
            </div>
        </div>

    </div>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>