<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Players</title>
    <link rel="stylesheet" href="style/bootstrap.min.css">

</head>
<body> 
    <h2>Team players</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <img class="img-fluid" src="image/1.jpg" alt="">
                <h1>Room-1</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus repellat facilis exercitationem voluptatum, inventore odit!</p>
            </div>

            <div class="col-6">
                <img class="img-fluid" src="image/2.jpg" alt="">
                <h1>Room-2</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus repellat facilis exercitationem voluptatum, inventore odit!</p>
            </div>

        </div>
    </div>


     
    <script src="js/bootstrap.min.js"></script>
</body>
</html>