<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>hellow,world</h1>
    </header>
    <main>
        <section class="container-fluid">
            <h2>buy your bags</h2>
            <div class="row">
                <div class="col-12">
                    <img src="" alt="">

                </div>

            </div>

        </section>

    </main>
 
</body>
</html>